.header-wrapper {
  height: auto;
  width: 100%;
  background-color: #121212;
  color: #cdcdcd;
}
.icon-wrapper {
  width: fit-content;
  margin: 0 auto;
  font-size: 3em;
  margin-bottom: 50px;
  margin-top: 30px;
}

.button-wrapper {
  width: fit-content;
  margin: 0 auto;
}
.card {
  width: 18rem;
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}
.card-wrapper {
  margin-top: 25px;
}
i:nth-child(1) {
  color: rgb(7, 179, 7);
}
i:nth-child(2) {
  color: rgb(255, 238, 0);
}
i:nth-child(3) {
  color: rgb(0, 124, 240);
}
i:nth-child(4) {
  color: rgb(243, 60, 60);
}
